<div class="page-title">
	Pool administration &mdash;&gt; add pool
</div>

<ng-include src="'/static/templates/pool_form.html'"></ng-include>

<div id="pool_success_container" ng-show="added_pools.length > 0">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Result</h3>
			<div id="pool_success_bg" ng-repeat="pool in added_pools | orderBy:'id':true" class="result-success">
				The pool {{ pool.name }} was successfully added.
			</div>
		</div>
	</div>
</div>
